*{
	box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

li {
    list-style: none;
}
.container{
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin:0 auto;
}
a{
	text-decoration: none;
}
span {
  color: #18dcff;
}
.heading{
	border-bottom: 3px solid #0A66C2;
	width: 90%;
	margin: 0 auto;
}

.heading h2{
	padding-top: 20px;
	font-family: "Lucida Grande";
	font-size: 32px;
	text-align: center;
}

.heading1 h2{
	padding-top: 80px;
	padding-bottom: 20px;
	font-family: "Lucida Grande";
	font-size: 32px;
	text-align: center;
	color: white;
	text-shadow: 0 5px #535c68;
}

.heading3{
	border-bottom: 3px solid #c7ecee;
	width: 90%;
	margin: 0 auto;
}

.heading3 h2{
	padding-top: 20px;
	font-family: "Lucida Grande";
	font-size: 32px;
	text-align: center;
	color: #c7ecee;
}

.about-us{
	background-image: url('gambar/background.jpg');
	opacity: 0.7;
	background-size: cover;
	width: 100%;
}

.body-about{
	width: 100%;
	text-align: center;
    height: auto;
    padding: 0 0 50px 0;
    opacity: 1;
}

.body-about h1 {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: auto;
    color: #1c2226;
    padding: 50px 100px;
    font-weight: bold;
    opacity: 1;
  }

.body-about p {
    font-size: 17px;
    color:white;
    opacity: 1;
    padding: 20px 20% 30px 20%;
	line-height: 35px;
	width: 100%;
	margin: 0 auto;
}

.btn2{
	margin:0px 35%;
	padding:5px 10px;
}

.contact{
	background-color: #5f27cd;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-above {
  background-color: rgb(10, 102, 194, 0.95);
  text-align: center;
  padding-top: 5px;
}

.logo {
  	width: 130px;
}

nav {
  background-color:rgb(52, 152, 219, 0.7);
  width: 100%;
  height: 50px;
  text-align: center;
}

nav a {
  font-size: 18px;
  opacity: 0.8;
  color: white;
  display: block;
  text-decoration: none;
}

nav a:hover {
  opacity: 1;
}

nav a:active {
  opacity: 1.2;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 500px;
  margin: 0 auto;
}

nav li {
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.menu-icon {
  display: none;
  color: rgb(52, 152, 219, 0);
}

.top-wrapper {
    padding: 180px 0px 100px 0px;
    background-image: url('gambar/Home.jpg');
    background-size: cover;
    color: #ecf0f1;
    text-align: center;
    opacity: 0.8;
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 6px;
    margin-bottom: 10px;
}

.top-wrapper p {
    margin-bottom: 3px;
}

.top-wrapper h3{
	font-size: 35px;
}
.learn {
    background-color: #1e3799;
}
.btn1{
	color:white;
	padding:15px 40px;
	opacity:0.8;
	border-radius:10px;
	text-align: center;
	box-shadow: 0px 7px #192a56;
}
.btn1:hover{
	opacity: 1;
}

.btn-wrapper {
    margin: 20px 0;
}

.Section-project{
	padding-bottom: 60px;
  	padding-left: 5%;
  	padding-right: 5%;
	background-color: white;
	text-align: center;
}

.body-slider p{
	font-size: 24px;
	text-align: center;
}

.slider { 
	position: relative; 
	overflow: hidden; 
	background: #efefef;
}

.slider { 
	margin: 20px auto;
	width: 768px;
	height: 450px; 
}

.slider-isi img { 
	width: 768px;
	height: 450px; 
	float: left;
}

.slider-isi { 
	position: absolute; 
	width:3900px;  

	animation-name:slider;
	animation-duration:16s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	-webkit-animation-name:slider;
	-webkit-animation-duration:16s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:16s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:16s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count:infinite;
}


.slider-isi:hover { 
	-webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; }
}

.slider-isi img { 
	float: right; 
}

.slider:after { 
	font-size: 150px; 
	position: absolute; 
	z-index: 12; 
	color: rgba(255,255,255, 0); 
	left: 300px; top: 80px; 
	-webkit-transition: 1s all ease-in-out; 
	-moz-transition: 1s all ease-in-out; 
	transition: 1s all ease-in-out; 
}

.slider:hover:after { 
	color: rgba(255,255,255, 0.6);  
}

@-moz-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}       
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 

@-webkit-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}       
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 


@keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}     
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0; 
	} 

	100% {
		left: 0; opacity: 0; 
	}
}

.Section-team{
	background-color: white;
	padding-bottom: 370px;
  	padding-left: 5%;
  	padding-right: 5%;
	text-align: center;
}
.team-profile{
	padding: 60px 0;
	position: center;

}

.profile{
	float: left;
    padding: 20px 5px;
    border: 3px solid #0A66C2;
    margin: 0 0.5%;
    border-radius: 15px;
    position: relative;
    width: 19%;
}

.profile img{
	width: 100%;
}
.profile p{
	text-align: center;
	font-size: 18px;
}

.btn2 {
    color: white;
    padding: 10px 10px;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
}

.btnld{
	color: white;
    padding: 10px 1px;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    width: 45%;
    float: left;
    margin: 0 1%;
}
.btnig{
	color: white;
    padding: 10px 1px;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    width: 51%;
    float: left;
    margin: 0 1%;
}


.btn:hover{
	opacity: 1;
}
.ld{
	background-color: #0A66C2;
	box-shadow: 0px 5px #192a56;
}
.ig{
	background-color: #8e44ad;
	box-shadow: 0px 5px #6F1E51;
}
.profile h3{
	text-align: center;
}

.Section-contact{
	background-image: url('gambar/skyscraper.jpg');
	background-size: cover;
}

.contact-body{
	margin-top: 30px;
}

.contact-left {
	padding-top: 8px;
 	float:left;
 	width:48%;
 	text-align: center;
 	display: block;
}
input {
  width: 55%;
  padding: 5px;
  margin-bottom:15px;
  font-size: 14px;
  border: 1px solid black;
  text-align: center;
  font-family: Robobto, sans-serif;
}

textarea {
  width: 55%;
  height: 100px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid black;
  text-align: center;
  font-family: Robobto, sans-serif;
}

.submit {
  width: 25%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: #0A66C2;
  box-shadow: 0px 5px #192a56;
}

.contact-right {
  width: 48%;
  float:right;
  text-align: left;
  border-left: 4px solid #7158e2;
  padding-left: 40px;
}

.contact-right p {
  text-align: left;
  font-size: 16px;
  margin: 5px;
}

.contact-right h3 {
  font-size: 24px;
  line-height: 1px;
}
.contact-right h4{
  line-height: 1px;
  font-size: 20px;
}

.content-one {
  margin-bottom:50px;
}

footer p {
  color: #b3aeb5;
  font-size: 16px;
  text-align: center;
}

footer {
	margin-top:330px;
  	padding: 5px 0;
  	width: 100%;
  	background-color: black;
}
